body {
	font-family: 'Lato', sans-serif;
}

/* navbar */

header {
	background: #384850;
	padding: 20px 0;
}

header a {
	color: #F0F0F0;
}

header a:hover {
	color: #F0F0F0;
	opacity: 0.7;
}

.navbar-expand-lg {
	padding: 0px;
}

.navbar-nav a {
	text-transform: uppercase;
	font-size: 16px;
	margin-top: 10px;
}

a.active {
	font-weight: 600;
}

.navbar-brand {
	font-size: 60px;
	font-weight: 300;
}

.navbar-brand span {
	font-size: 40px;
    font-weight: 300;
}

/* section */

section {
	padding: 40px 0;
}

.number {
	display: inline-flex;
	text-align: center;
	margin-right: 10px;
	width: 10%;
}

input[type="radio"] {
	margin-top: 5px;
	margin-right: 3px;
}

h2 {
	margin: 20px 0;
}

h3 {
	font-size: 1.1rem;
}

.bordered, th, td {
	border: 1px solid #384850 !important;
}

.bordered h4 {
	background: #eee;
	padding: 5px;
}

.inline {
	display: block;
	padding: 10px;
	border-bottom: 1px solid #384850;
}

div:last-of-type {
	border-bottom: 0px;
}

.inline h3 {
	display: inline-flex;
	margin-right: 10px;
}

.inline input[type="radio"] {
	margin-left: 10px;
}

.inline span {
	margin-left: 5px;
}

button[type="submit"], button {
	background: #384850;
	color: white;
	text-transform: uppercase;
	font-size: 14px;
	letter-spacing: 1.2px;
	padding: 5px 10px;
	border: 0px;
	margin-top: 10px;
}

.select-result {
	background: #7a909b;
	color: white;
	text-transform: uppercase;
	font-size: 14px;
	letter-spacing: 1.2px;
	padding: 5px 10px;
	border: 0px;
	margin-top: 10px;
	width: 300px;
}

#divAsignaturas label, #divProfesores label {
	width: 250px;
	text-transform: uppercase;
}

.hide {
	display: none;
}

#login {
	text-align: center;
}

#login a:hover {
	cursor: pointer;
}

#login label {
	width: 20%;
	font-size: 16px;
}

#login button {
	margin-right: 10px;
	cursor: pointer;
}

#login input {
	width: 30%;
	padding: 0px 5px;
	background: #eee;
	border: 0px;
	color: black;
}

#login .inline {
	border-bottom: 0px;
}

#login form {
	border: 1px solid #eee;
	padding: 10px;
}

.right {
	position: absolute;
	right: 0;
}

#datosProfesor {
	margin-top: 20px;
}

#datosProfesor label , #divFiltros label {
	text-transform: uppercase;
	font-weight: 600;
}

#datosProfesor .inline , #divFiltros .inline {
	padding: 10px 0;
}

#datosProfesor .titulo , #divFiltros .titulo{
	font-weight: 400;
	text-transform: none;
	font-size: 18px;
}

#datosProfesor span.medias, #divFiltros span.medias {
	font-weight: 600;
	font-size: 18px;
	margin-right: 5px;
}

#datosProfesor span.res, #divFiltros span.res {
	margin-right: 10px;
}

#datosProfesor .fondo {
	margin-bottom: 20px;
}

#datosProfesor .fondo .inline {
	border-bottom: none;
	background: #b4c4cb;
	padding: 10px;
}

#filtros label {
	text-transform: uppercase;
	font-size: 16px;
	margin-right: 5px;
}

#filtros select {
	background: #7a909b;
	color: white;
	text-transform: uppercase;
	font-size: 14px;
	letter-spacing: 1.2px;
	padding: 5px 10px;
	border: 0px;
	margin-top: 10px;
	margin-right: 10px;
}

#divFiltros h3 {
	text-transform: uppercase;
    font-weight: 400;
    letter-spacing: 1.2px;
    font-size: 22px;
    background: #b4c4cb;
    padding: 10px;
    display: inline-block;
    margin-right: 20px;
    width: 150px;
    text-align: center;
}

canvas {
	margin: 20px !important;
	width: 45% !important;
	height: 45% !important;
	display: inline-flex !important;
}