body {
    font-family: 'Lato', sans-serif;
}

.login {
    height: 30px;
    background-color: black;
    color: white;
    padding: 5px;
}

.login span {
    float: right;
    margin-right: 10px;
}

.login span .fa, .login a {
    color: white;
    margin-right: 10px;
}

.login a:hover {
    opacity: 0.8;
}

#navbar {
    border-bottom: 10px solid red;
}

.navbar {
    background: white;
    text-transform: uppercase;
    letter-spacing: 1.1px;
}

.navbar a {
    color:#5f5e5e;
    font-weight: 600;
}

.navbar a.active {
    color: black;
}

.navbar a:hover {
    color: red;
}

nav img {
    width: 100px;
}

.container-fluid{
    overflow: hidden;
}

.hover {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: black;
    color: white;
    text-align: center;
    text-transform: uppercase;
    font-weight: 300;
    letter-spacing: 1px;
    font-size: 24px;
    opacity: 0.7;

    /*Para centrar texto*/

    display: flex;
    justify-content: center;
    align-items: center;
}

.hide {
    display: none !important;
    transition: all 0.9s ease-in;
}

.hover p {
    padding-bottom: 10px;
    border-bottom: 1px solid red;
}

#footer {
    border-top: 10px solid red;
    padding: 10px 0;
    background-image: url('http://localhost/supercars/assets/images/fibra.png');
    color: white;
    font-weight: 300;
}

#admin {
    padding: 20px 0;
}

#admin h1 {
    text-transform: uppercase;
    font-size: 28px;
    letter-spacing: 1px;
}

#admin .col-4 {
    padding: 10px 20px;
}

#admin .box {
    text-align: center;
    padding: 20px;
    height: 300px;
    border: 2px solid #434141;
}

#admin .box:hover {
    opacity: 0.8;
}

#admin .box a {
    color: black;
}

#admin .box a:hover {
    text-decoration: none;
}

#admin .box h2 {
    text-transform: uppercase;
    font-size: 22px;
}

#admin .box .fa {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 40px auto;
    font-size: 92px;
    color: #7b7b7b;
}

.borde {
    border-bottom: 1px solid red;
    display: block;
    margin: auto;
    width: 50px;
}

#admin .box p {
    font-size: 18px;
}

#insertar, #catalogo, #editar, #un_coche, #delete, #buscador {
    padding: 20px 0;
}

#insertar label, #editar label, #buscador label {
    text-transform: uppercase;
    font-size: 14px;
}

#insertar input[type=submit], #login input[type=submit], #editar input[type=submit], #buscador input[type=submit] {
    background: red;
    color: white;
    margin: 10px 0;
    border: 0px;
    padding: 5px 10px;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.form-control, .form-control:focus {
    border: 1px solid red;
    box-shadow: none;
    margin-bottom: 20px;
}

#catalogo .box-coche, #editar .box-coche, #delete .box-coche {
    text-align: center;
}

#catalogo .box-coche h1, #editar .box-coche h1, #delete .box-coche h1 {
    text-transform: uppercase;
}

#catalogo img, #editar img, #delete img {
    max-width: 500px;
    margin-top: 20px;
}

#catalogo .box-detalles, #editar .box-detalles, #delete .box-detalles {
    margin: 20px 0;
    padding: 20px;
    border: 2px solid #434141;
}

#catalogo .box-detalles h2, #editar .box-detalles h2, #delete .box-detalles h2  {
    text-transform: uppercase;
    font-size: 18px;
    font-weight: 700;
    color: red;
    margin-top: 10px;
}

#catalogo a, #editar a, #delete a {
    color: black;
}

#catalogo a:hover, #editar a:hover, #delete a:hover {
    text-decoration: none;
    opacity: 0.8;
}

#login {
    margin: 40px 0;
    text-align: center;
}

#login h1 {
    text-transform: uppercase;
    font-size: 32px;
}

#login .form-control {
    width: 20%;
    margin: auto;
    margin-bottom: 10px;
}

#un_coche h1 {
    text-transform: uppercase;
    letter-spacing: 1.1px;
    font-weight: 700;
    color:red;
}

#un_coche h2 {
    text-transform: uppercase;
    letter-spacing: 0.9px;
    font-size: 22px;
    margin-top: 10px;
}

#catalogo h2 {
    text-transform: uppercase;
    margin-top: 20px;
    font-size: 22px;
}

#delete .box-coche:hover {
    cursor: pointer;
}